{% if form.intro %}
    <p>{{ form.intro }}</p>
{% endif %}
{{ form_for_form.media }}

{% if form_for_form.errors %}
<div id="errormessage">
    {{ form_for_form.non_field_errors }}
    Some fields do not contain a valid value. 
    Please correct your inputs and resubmit.
</div>
{% endif %}

<form action="{{ form.get_absolute_url }}" method="post"
    role="form" class="contactForm"
    {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    
    {% for field in form_for_form %}
        <div class="form-group">
            <h6>
                {{ field.label }}
            </h6>            

            {% if field.errors %}
                <div class="validation">
                    {{ field.errors }}
                </div>
            {% endif %}

            {{ field }}
            
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    
    <div style="clear:left;">&nbsp;</div>

    <div class="center">
        <button class="submit" type="submit">{{ form.button_text }}</button>
    </div>
</form>
