<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>Archetype</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/scss/base.css">
    <link rel="stylesheet" href="../../assets/scss/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- script  -->
    <script src="../../assets/js/modernizr.js"></script>
    <!-- favicons -->
    <link rel="icon" type="image/png" href="../../assets/images/favicon.png">
</head>

<body id="top">
    <!-- header 
   ================================================== -->
    <header class="sticky">
        <div class="row">
            <div class="logo">
                <a href="index.html">Archetype</a>
            </div>
            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li><a href="./#about" target="_self" title="">About</a></li>
                    <li><a href="./#process" target="_self" title="">Process</a></li>
                    <li><a href="./#download" target="_self" title="">Download</a></li>
                    <li><a href="./#projects" target="_self" title="">Projects</a></li>
                    <li><a href="./#testimonials" target="_self" title="">Testimonials</a></li>
                    <li><a href="./#contact" target="_self" title="">Contact</a></li>
                    <li class="with-sep"><a class="current" href="/" title="" target="_self">Case Studies</a></li>
                    <li><a href="./faq.html" title="">FAQ</a></li>
                </ul>
            </nav>
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div>
    </header>
    <!-- /header -->
    <!-- Case Studies Section
   ================================================== -->
    <section id="casestudies">
        <div class="row section-intro">
            <div class="col-twelve with-bottom-line">
                <h5>Case Studies</h5>
                <h1>Read some common scenerios</h1>
                <p class="lead">archetype has been designed to be scalable to any size of project. You can begin by configuring your own instance or you can ask King’s Digital Lab to provide consultancy, development, hosting services and even grant application advice, to reduce the cost of bespoke technical solutions.</p>
            </div>
        </div>
        <div class="row casestudies-content">
            <div class="block-1-3 block-s-full block-tab-full group">
                <div class="bgrid with-bottom-line ">
                    <h3>Post Docs</h3>
                    <div class="testimonials-content insert">
                        <p>As a PhD candidate I have limited resources to explore my research question. I have a radical new perspective which requires cutting edge tools to help me build a compelling argument in my thesis.</p>
                    </div>
                    <p>On any major desktop platform (e.g. Mac, Windows, Linux), one can install a personal version of archetype. To make this process simple, we provide a virtual machine that runs on your computer, taking care of the trickier areas of configuration. Using this start up package, and help from the archetype community you can tailor your installation to deal with your own research questions.</p>
                    
                    <p>Once the system is up and running, you can access archetype  in your preferred web browser and start to record your own annotations on your own images and documents. You’ll add to your own private database that you can back up locally and you’ll be able to export TEI created in archetype for other users.</p>

                    <p>When you are finished with your research, you’ll have a digital resource that you can archive or use as the basis for your next project. In which case KDL could help you find the most cost efficient way to move your resource to a publicly hosted website.

                    <p>The code that drives archetype  is open source, and KDL encourage developers and researchers to build new functionality and make suggestions about how the platform should develop. If you are tech savvy, you may find that you make something new for archetype that you would like to share with other users.</p>

                    <p>To get started, follow the <a class="smoothscroll" href="#download" title="">DockerHub link</a> below ...</p>
                </div>
                <div class="bgrid with-bottom-line ">
                    <h3>Seed Funding</h3>
                    <div class="testimonials-content insert">
                        <p>Myself and a colleague from another institution have identified a set of manuscripts which we believe have the potential to reframe the nature of 18th century Japanese trade with Europe.</p>
                    </div>

                    <p>You have the germ of an exciting insight, but the clues you need are hidden in the patterns and conventions of a large corpus of documents. It would make a great project, but you need to prove to yourselves (and the funding bodies) that there are tools that are up to the job. You want to take a small selection of your corpus and demonstrate how a digital approach can shed new light on the subject. Furthermore , you need to cooperate using the same database even though you are not located near to each other.</p>

                    <p>KDL can consult on how best to implement archetype for your use case and provide low cost hosting and support to make sure that you and your colleagues can work remotely on the same database.</p>

                    <p>Depending on the level of support needed, KDL can help you modify up the archetype database structure.</p>

                    <p>At the end of prototyping, hopefully you’ll decide that archetype is the right tool to take this challenge forward. You’ll also have learned a great deal about the complexities of the task during this formative stage and might identify new functionality that would make the project methodology even more robust.</p>

                    <p>At that point it is time to talk to us about getting large scale funding, customisation and long term hosting for your landmark resource.</p>

                    <p>To discuss further, please <a class="smoothscroll" href="#contact" title="">get in touch</a>...</p>
                </div>
                <div class="bgrid with-bottom-line ">
                    <h3>Large Funding Bids</h3>
                    <div class="testimonials-content insert">
                        <p>As an established field leader, I am trying to secure a large European funding bid for a digital research project, underpinned by robust, reliable technology and transparent service levels.</p>
                    </div>
                    <p>You and your research team have an exacting review panel to satisfy, not only that you have a compelling research question, but that you have the right methodology and personnel to approach the question convincingly. KDL will assist you in developing the proposal and your technical appendices, based on years of experience of applying to different funding bodies.</p>

                    <p>The project needs a brand presence and KDL designers can give your instance of archetype a look and feel that suits your audience and your subject matter. The digital research will represent an important legacy output and should be available for many years to come and archived according to recognised RDMS protocols. Archetype, sustainably hosted by KDL, is the obvious candidate for this work and to you want to fund significant development to the framework to deal with your own use case. You need a direct liaison within the KDL team to help you escalate issues and manage their resolution.</p>

                    <p>When the project is finished, you need to know that your website can be looked after, maintained and secured by an established department in a world leading institution and you want to build these costs into your project planning.</p>

                    <p>To discuss further, please <a class="smoothscroll" href="#contact" title="">get in touch</a> ...</p>
                </div>
            </div>
        </div>
        <div id="download" class="row download-content">
              <div class="block">
                  <div class="part one">
                      <h3 class="title">Use Archetype for free</h3>
                      <br>
                      <a class="button" href="">Download Now</a>
                      <br><br>
                      <p class="additional"><a href="">View our installation guide >></a></p>
                  </div>
              </div>
            </div>
             <div id="contact" class="row download-content">
             <div class="block">
                        <div class="part two">
                            <h3 class="title">Need a tailored version for your project?</h3>
                            <br>
                              <a class="button" href="">Contact Us</a>
                              <br><br>
                            <p class="additional"><a href=""></a></p>
                        </div>
              </div>
              <br>
              <p class="lead">Archetype is an open source project. Fork us on <a href="">GitHub</a></p>
            </div>
    </section>
    <!-- /Case Studies -->
<!-- footer -->
<footer>
    <div class="row">
      <div class="col-twelve logos">      
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/King%27s_College_London_Digital_Humanities.png" alt="KCL">
        <img src="http://globhealth.vjf.cnrs.fr/images/ERC_Logo.png" alt="ERC">     
        <img src="http://www.dos.com.pl/inc/images/unia/unia.png" alt="Europa">   
        <img src="http://vbrant.eu/sites/vbrant.eu/files/FP7-LG.png" alt="FP7">  
      </div>    
    </div>

      <div class="row">
            <div class="col-twelve">
            <p class="blocktext">Some parts of this site are available under a CC-BY or other licence: see further Copyrights and Permissions.The DigiPal Project is funded by the European Union Seventh Framework Programme (FP7) under grant agreement n° 263751.This site uses Cookies. For further details see our Privacy and Cookie Policy.Banner image incorporates Cambridge, Corpus Christi College, MS 389, 1v by permission of the Master and Fellows, Corpus Christi College Cambridge. All images of manuscripts and charters on this website are copyright of the respective repositories and are reproduced with permission.</p>
          </p>
          <p>© Copyright Archetype 2017</p>
          <p>Designed and Developed by <a href="http://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
          <div id="go-top" style="display: block;">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
            </div>
      </div>
    </div>
</footer>
<!-- /footer-->
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <!-- Java Script
   ================================================== -->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- script src="../../assets/js/jquery-migrate-1.2.1.min.js"></script -->
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>