<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>Archetype</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/scss/base.css">
    <link rel="stylesheet" href="../../assets/scss/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- script  -->
    <script src="../../assets/js/modernizr.js"></script>
    <!-- favicons -->
    <link rel="icon" type="image/png" href="../../assets/images/favicon.png">
</head>

<body id="top">
    <!-- header 
   ================================================== -->
    <header class="sticky">
        <div class="row">
            <div class="logo">
                <a href="index.html">archetype</a>
            </div>
            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li><a href="./#about" title="">About</a></li>
                    <li><a href="./#process" target="_self" title="">Process</a></li>
                    <li><a href="./#download" target="_self" title="">Download</a></li>
                    <li><a href="./#projects" target="_self" title="">Projects</a></li>
                    <li><a href="./#testimonials" target="_self" title="">Testimonials</a></li>
                    <li><a href="./#contact" target="_self" title="">Contact</a></li>
                    <li class="with-sep"><a href="./case-studies.html" title="">Case Studies</a></li>
                    <li><a class="current" href="/" title="" target="_self" target="_self">FAQ</a></li>
                    
                </ul>
            </nav>
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div>
    </header>
    <!-- /header -->
    <!-- faq
   ================================================== -->
    <section id="faq">
        <div class="row section-intro">
            <div class="col-twelve with-bottom-line">
                <h5>Faq</h5>
                <h1>Questions and Answers.</h1>
                <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>
            </div>
        </div>
        <div class="row faq-content">
            <div class="q-and-a block-1-2 block-tab-full group">
                <div class="bgrid">
                    <h3>Why not use machine learning for this?</h3>
                    <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>
                </div>
                <div class="bgrid">
                    <h3>Can I work with colleagues on a project?</h3>
                    <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>
                </div>
                <div class="bgrid">
                    <h3>Do I need permissions from libraries and other repositories to use their images in archetype?</h3>
                    <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>
                </div>
                <div class="bgrid">
                    <h3>Can I upgrade my account from Starter to Premium?</h3>
                    <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>
                </div>
                <div class="bgrid">
                    <h3>Where can I found all my uploads?</h3>
                    <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>
                </div>
                <div class="bgrid">
                    <h3>How long can I use the free trial version?</h3>
                    <p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>
                </div>
            </div>
            <!-- /q-and-a -->
        </div>
        </div>
        <!-- /faq-content -->
        <div class="row addtional">
            <div class="col-twelve">
                <div class="addtional-content">
                    <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Still have a question?</a></h2>
                    <p class="lead">
                        Get in <a href="">contact</a> and we will try to to answer it.
                        <!-- Simply type  the promocode in the box labeled “Promo Code” when placing your order. -->
                    </p>
                    <div class="action">
                        <a class="button large" href="/">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /section-ads -->
    </section>
    <!-- /faq -->
<!-- footer -->
<footer>
    <div class="row">
      <div class="col-twelve logos">      
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/King%27s_College_London_Digital_Humanities.png" alt="KCL">
        <img src="http://globhealth.vjf.cnrs.fr/images/ERC_Logo.png" alt="ERC">     
        <img src="http://www.dos.com.pl/inc/images/unia/unia.png" alt="Europa">   
        <img src="http://vbrant.eu/sites/vbrant.eu/files/FP7-LG.png" alt="FP7">  
      </div>    
    </div>

      <div class="row">
            <div class="col-twelve">
            <p class="blocktext">Some parts of this site are available under a CC-BY or other licence: see further Copyrights and Permissions.The DigiPal Project is funded by the European Union Seventh Framework Programme (FP7) under grant agreement n° 263751.This site uses Cookies. For further details see our Privacy and Cookie Policy.Banner image incorporates Cambridge, Corpus Christi College, MS 389, 1v by permission of the Master and Fellows, Corpus Christi College Cambridge. All images of manuscripts and charters on this website are copyright of the respective repositories and are reproduced with permission.</p>
          </p>
          <p>© Copyright Archetype 2017</p>
          <p>Designed and Developed by <a href="http://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
          <div id="go-top" style="display: block;">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
          </div>
      </div>
    </div>
</footer>
<!-- /footer-->
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <!-- Java Script
   ================================================== -->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- script src="../../assets/js/jquery-migrate-1.2.1.min.js"></script -->
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>