<div class="row">
  <div class="col-twelve logos">
    <a href="www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/King%27s_College_London_Digital_Humanities.png" alt="KCL"></a>
    <a href="www.google.com" target="_blank"><img src="http://globhealth.vjf.cnrs.fr/images/ERC_Logo.png" alt="ERC"></a>
    <a href="www.google.com" target="_blank"><img src="http://www.dos.com.pl/inc/images/unia/unia.png" alt="Europa"></a>
    <a href="www.google.com" target="_blank"><img src="http://vbrant.eu/sites/vbrant.eu/files/FP7-LG.png" alt="FP7"></a>
  </div>
</div>

<div class="row">
  <div class="col-twelve">
    <p class="blocktext">Archetype is built on prior intellectual property funded by the European Union Seventh Framework Programme (FP7) under <a href="http://cordis.europa.eu/projects/rcn/96097_en.html">Grant Agreement no. 263751</a> <a href="www.digipal.eu">(DigiPal)</a>, and the Arts and Humanities Research Council (AHRC) under Grant Reference n° <a> href="http://gtr.rcuk.ac.uk/project/C7110EC4-6F46-43B3-AC95-067B5F9634C5">AH/L008041/1</a> <a href="www.modelsofauthority.ac.uk">(Models of Authority)</a> and <a href="http://gtr.rcuk.ac.uk/project/6E1A6C8B-E9BE-4AC7-A524-2414DA697F49">AH/L013975/1</a> <a href="http://www.exondomesday.ac.uk/">(Exon Domesday)</a>.’ Cf. https://github.com/kcl-ddh/digipal/wiki. This site uses Cookies. For further details see our Privacy and Cookie Policy.</p>
    <p>© Copyright Archetype 2017</p>
    <p>Designed and Developed by <a href="http://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
    <div id="go-top" style="display: block;">
      <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
