<div class="row">
  <div class="col-twelve logos">      
    <a href="www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/King%27s_College_London_Digital_Humanities.png" alt="KCL"></a>
    <a href="www.google.com" target="_blank"><img src="http://globhealth.vjf.cnrs.fr/images/ERC_Logo.png" alt="ERC"></a>   
    <a href="www.google.com" target="_blank"><img src="http://www.dos.com.pl/inc/images/unia/unia.png" alt="Europa"></a>
    <a href="www.google.com" target="_blank"><img src="http://vbrant.eu/sites/vbrant.eu/files/FP7-LG.png" alt="FP7"></a>
  </div>    
</div>

<div class="row">
  <div class="col-twelve">
    <p class="blocktext">Some parts of this site are available under a CC-BY or other licence: see further Copyrights and Permissions.The DigiPal Project is funded by the European Union Seventh Framework Programme (FP7) under grant agreement n° 263751.This site uses Cookies. For further details see our Privacy and Cookie Policy.Banner image incorporates Cambridge, Corpus Christi College, MS 389, 1v by permission of the Master and Fellows, Corpus Christi College Cambridge. All images of manuscripts and charters on this website are copyright of the respective repositories and are reproduced with permission.</p>
    <p>© Copyright Archetype 2017</p>
    <p>Designed and Developed by <a href="http://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
    <div id="go-top" style="display: block;">
      <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
