{% load staticfiles %}

<div class="row">
  <div class="col-twelve logos">
    <a href="//kdl.kcl.ac.uk/"><img src="{% static 'images/KCL_box_red.svg' %}" alt="KCL"></a>
    <a href="//erc.europa.eu/"><img src="{% static 'images/eu-flag-erc-rgb.svg' %}" alt="ERC"></a>
    <a href="//www.ahrc.ac.uk/"><img src="{% static 'images/AHRC_rgb.png' %}" alt="AHRC"></a>
    <a href="//ec.europa.eu/research/fp7/"><img src="{% static 'images/FP7-LG.png' %}" alt="FP7"></a>
  </div>
</div>

<div class="row">
  <div class="col-twelve">
    <p class="blocktext">Archetype is built on prior intellectual property funded by the European Union Seventh Framework Programme (FP7) under <a href="//cordis.europa.eu/projects/rcn/96097_en.html">Grant Agreement no. 263751</a> <a href="//www.digipal.eu">(DigiPal)</a>, and the Arts and Humanities Research Council (AHRC) under Grant Reference n° <a href="//gtr.rcuk.ac.uk/project/C7110EC4-6F46-43B3-AC95-067B5F9634C5">AH/L008041/1</a> <a href="//www.modelsofauthority.ac.uk">(Models of Authority)</a> and <a href="//gtr.rcuk.ac.uk/project/6E1A6C8B-E9BE-4AC7-A524-2414DA697F49">AH/L013975/1</a> <a href="//www.exondomesday.ac.uk/">(Exon Domesday)</a>.’ Cf. <a href="//github.com/kcl-ddh/digipal/wiki">github.com/kcl-ddh/digipal/wiki</a>. This site uses Cookies. For further details see our Privacy and Cookie Policy.</p>
    <p>{% now 'Y' %} &copy; Archetype</p>
    <p>Designed and Developed by <a href="//www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
    <div id="go-top" style="display: block;">
      <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
