{% load wagtailcore_tags kdl_wagtail %}

{% block main_menu %}
    <ul class="main-navigation">
        <li><a class="{% smoothscroll %}" href="/#about" title="">About</a></li>
        <li><a class="{% smoothscroll %}" href="/#process" title="">Process</a></li>
        <li><a class="{% smoothscroll %}" href="/#download" title="">Download</a></li>
        <li><a class="{% smoothscroll %}" href="/#projects" title="">Projects</a></li>
        <li><a class="{% smoothscroll %}" href="/#testimonials" title="">Testimonials</a></li>
        <li><a class="{% smoothscroll %}" href="/#contact" title="">Contact</a></li>
        <li class="with-sep"><a href="/case-studies" title="">Case Studies</a></li>
        <li><a href="/faq" title="">FAQ</a></li>
    </ul>
{% endblock %}