{% load wagtailcore_tags kdl_wagtail %}

{% block main_menu %}
    <ul class="main-navigation">
        <li><a class="{% smoothscroll %}" href="/#about" title="About">About</a></li>
        <li><a class="{% smoothscroll %}" href="/#process" title="Process">Process</a></li>
        <li><a class="{% smoothscroll %}" href="/#download" title="Download">Download</a></li>
        <li><a class="{% smoothscroll %}" href="/#projects" title="Projects">Projects</a></li>
        <li><a class="{% smoothscroll %}" href="/#testimonials" title="Testimonials">Testimonials</a></li>
        <li><a class="{% smoothscroll %}" href="/#contact" title="Contact">Contact</a></li>
        <li class="with-sep"><a href="/case-studies" title="Case Studies">Case Studies</a></li>
        <li><a href="/faq" title="FAQ">FAQ</a></li>
</ul>
{% endblock %}