{% extends 'base.html' %}
{% load wagtailcore_tags kdl_wagtail %}

{% block meta_title %}500 - Server error |{% endblock %}

{% block main %}
<section id="error">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line-not">
            <h5>Sorry, something went wrong on our site</h5>
            <h1>500 - Server error</h1>
            <p class="lead">
                This might be because we are experiencing abnormal traffic 
                to our network or the service it is on is not currently available.
            </p>
            <p class="lead">
                Please try again later once we have solved the problem. 
                Thank you for your patience. 
            </p>
            <a href="/" class="button">Back to Archetype homepage</a>
        </div>
    </div>
</section>
{% endblock %}
