{% load staticfiles compress  %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | Archetype</title>
  <meta name="author" content="King's Digital Lab">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{% static "scss/base.css" %}">
  <link rel="stylesheet" href="{% static "scss/main.css" %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  {% compress css %}
    <!-- link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" -->
  {% endcompress %}
  
  <!-- script  -->
  <script src="{% static "js/modernizr.js" %}"></script>
  
  <!-- favicons -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  
</head>
<body id="top">
  <header>
    {% include 'includes/header.html' %}
  </header>

  <main>
    {% block title %}{% endblock %}
    
    {% block main %}
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>
  
    <div id="preloader">
        <div id="loader"></div>
    </div>

  {% compress js %}
      
      <!--  script src="{% static 'js/main.js' %}"></script -->
  {% endcompress %}

  {% block footer_scripts %}{% endblock %}

      <!-- script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script -->
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!--  script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script -->
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

  {% compress js %}
    {% if GA_ID %}
      <script src="{% static 'js/google_analytics.js' %}"></script>
      <script>
        ga('create', '{{ GA_ID }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  {% endcompress %}
</body>
</html>
