{% extends "kdl_wagtail/section.html" %}
{% load wagtailcore_tags kdl_wagtail staticfiles %}

{% block section-content-parent %}
    <div class="row download-content">
        <div class="block">
            <div class="part one">
                <h3 class="title">Use Archetype for free</h3>
                <a class="button" href="">Download Now</a>
                <p class="additional"><a href="">View our installation guide >></a></p>
            </div>
        </div>
    </div>
    <div class="row download-content">
        <div class="block">
            <div class="part two">
                <h3 class="title">Need a tailored version for your project?</h3>
                <a class="button" href="">Contact Us</a>
                <p class="additional"><a href="">View our Case Studies >></a></p>
            </div>
        </div>
        <br>
        <p class="lead">Archetype is an open source project. Fork us on <a href="">GitHub</a></p>
    </div>
{% endblock %}
