{% extends "kdl_wagtail/section.html" %}
{% load wagtailcore_tags kdl_wagtail staticfiles %}

{% block section-content %}
    {% block section-items_before %}
        {% for item in value.items %}
            {% if item.type == 'testimonials' %}
                <div class="testimonials-content insert">
                    {% include_block_kdl item %}
                </div>
            {% endif %}
        {% endfor %}
    {% endblock %}
    {% block section-items %}
        <div class="about-features block-1-3 block-s-1-2 block-tab-full group">
            {% for item in value.items %}
                {% if item.type == '' %}
                    <div class="bgrid feature">
                        <img src="{% static 'images/'|add:item.long_title %}" alt="{{ item.title }}">
                        <h3>{{ item.title }}</h3>
                        {{ item.body }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-twelve">
                <br>
                <p>At the heart of Archetype is a philosophy that digital tools should enable scholars to do what they know best. It doesn’t aim to replace your workflow, but augment it with tools that adapt to your needs. The strength of Archetype is that your annotations are stored in a structured database, allowing you to explore your research data using powerful, built-in search facilities. Archetype may be used by individual scholars, or as the hub of a collaborative project, or to enable the sharing of data with other scholars anywhere.</p>
                <p>Winner of the first annual <a href="http://www.themedievalacademyblog.org/maa-blog-inaugural-medieval-academy-digital-humanities-prize/">Medieval Academy Digital Humanities Prize</a>, Archetype (in the form of DigiPal) was commended for its “innovative framework, collaborative origins, open access, quality design, and skillfully curated pilot collection” and judged to be “an excellent model for the practice of digital humanities scholarship in the field of medieval studies.</p>
            </div>
        </div>
    {% endblock %}
{% endblock %}
