{% load wagtailcore_tags kdl_wagtail %}

<section id="intro">
    <div class="row section-intro">
        <div class="col-twelve with-bottom-line">
            <h5>{{ value.title }}</h5>
            <h1>{{ value.long_title }}</h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row intro-content">
        
        {% for item in value.items %}
            {% include_block_kdl item '-' %}
        {% endfor %}
    
        <br>
        <br>
        <div class="features-list block-1-3 block-s-1-2 block-tab-full group">
            {% for item in value.items %}
                {% include_block_kdl item '' %}
            {% endfor %}
        </div>
    </div> <!-- /intro-content --> 

</section>
