<div class="info">
    <div class="col-1-3 tab-full">
        <h6>Email us</h6>
        <div>
            <a
                href="mailto:info@archetype.ink?Subject=Hello%20again"
                target="_blank"> <i class="fa fa-envelope-o"
                aria-hidden="true"></i>
                <p>info@archetype.ink</p>
            </a>
        </div>
    </div>
    <div class="col-1-3 tab-full">
        <h6>Follow on twitter</h6>
        <div>
            <a href="" target="_blank"> <i
                class="fa fa-twitter" aria-hidden="true"></i>
                <p>@archetype_tweets</p>
            </a>
        </div>
    </div>
    <div class="col-1-3 tab-full">
        <h6>Fork on github</h6>
        <div>
            <a href="" target="_blank"> <i
                class="fa fa-github" aria-hidden="true"></i>
                <p>archetype_github</p>
            </a>
        </div>
    </div>
</div>
